html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lucida Console', 'Courier New', Courier, monospace;
}

img {
    height: 500px;
    width: auto;
}

h1 {
    background-color: #008b8b;
    color: #87ceeb;
    padding: 24px;
}

ul {
    background-color: #f0f8ff;
    padding: 24px;
}

li {
    margin-bottom: 8px;
}

h2 {
    background-color: #ffebcd;
    color: #d2691e;
}

strong {
    color: #d2691e;
}

figure {
    border: thin #5f9ea0 solid;
    padding: 5px;
    width: fit-content;
    margin: 0;
}

figcaption {
    text-align: center;
    font-size: 12px;
    background-color: #ffebcd;
}